// Media query for phones, including when a phone is used in landscape
@media only screen and (max-width: 500px),
screen and (max-height: 360) {
  #main {
    // Set a min height so that the size of the quote doesn't pull down the buttons, which would happen due to the display being flex and thus
    // how this encourages the elements to evenly spread over the page
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &-buttons {
      margin: 1rem 0;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      left: 0;

      .btn {
        padding: 0.5rem 0.5rem;
        margin: 0 0.3em;
        line-height: 1.4rem;
        width: 90px;
        font-size: 1rem;
      }
    }

    &-text {
      width: 100%;
      transform: translateX(0%);
      margin: 0;
      padding: 1rem 1rem 0 1rem;

      &-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      &-author {
        font-size: 1.3rem;
        margin-bottom: 1.1rem;
      }

      &-quote {
        font-size: 1rem;
      }
    }

    &-help {
      &-overlay {
        ul {
          width: 49%;
        }
      }
    }

  }

  #modal {
    &-content {
      padding: 0.2rem;
      border: 2px solid ivory;
      height: 95%;
      width: 100%;
      margin: 0;

      &-table {
        font-size: 0.5rem;
        height: 93%;
      }

      &-buttons {
        height: auto;
        margin-top: 1rem;

        .modalButtons {
          font-size: 0.6rem;
          margin: 0 0.6rem
        }
      }
    }
  }

  #error-container {
    width: 100%;
  }
}