// Import all partials
@import "modal";
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // Making use of SASS variables as defined in the variables partial
  background-color: $primary-colour;
  color: $font-colour;
  font-family: $font-primary;
}

// Ensure the scrollbar doesn't interfere with the page elements
html {
  overflow-y: scroll;
}

// Basic element styling
table,
th,
td {
  border: 1px solid ivory;
  padding: 0.5em;
}

table {
  width: 100%;
}

td {
  font-style: italic;
}

th {
  text-align: left;
  font-weight: bold;
}

#main {
  display: flex;
  justify-content: space-around;
  position: relative;

  &-help {
    background: #4d4d4d;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    z-index: 2;
    overflow: hidden;
    opacity: 0.95;

    &-overlay {
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      transition: all 400ms ease;
      background: #333;
      width: 200vw;
      height: 200vh;
      border-radius: 50%;

      &>ul {
        position: relative;
        text-align: left;
        max-height: 100vh;
        opacity: 0;
        transition: all 400ms ease 400ms;
        text-decoration: none;
        list-style: none;

        #close {
          position: absolute;
          top: 5px;
          right: 5px;
        }


        &>li {
          padding: 0.5rem 1.5rem;
          transition: color 400ms ease;

          &:nth-child(2) {
            margin-top: 2rem;
          }

          &:nth-child(5) {
            margin-bottom: 2rem;
          }

          i {
            margin: 0 1rem;
            width: 30px;
          }
        }


      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    transform: translateX(35%);
    margin: 3rem 2rem;
    position: relative;
    z-index: 0;

    &-title {
      font-size: 2.5rem;
      text-align: left;
      margin-bottom: 4rem;
    }

    &-author {
      height: auto;
      font-style: italic;
      font-size: 2.2rem;
      text-align: left;
      margin-bottom: 2rem;
    }

    &-quote {
      width: 100%;
      font-size: 1.5rem;
      font-style: italic;
      text-align: left;
      line-height: 1.3em;
    }
  }

  &-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    position: fixed;
    width: auto;
    left: 10%;
    top: 10%;

    #getPath {
      display: none;
    }

    #linkKindle {
      position: relative;
    }

    #help {
      &:hover #toolTip {
        visibility: visible;
      }
    }

    #helpBtn {
      display: none;
    }

    #toolTip {
      cursor: auto;
      visibility: hidden;
      position: absolute;
      width: 580px;
      text-align: left;
      top: -90%;
      left: 90%;
      font-size: 1rem;
      border: 2px solid ivory;
      padding: 0.5rem;

      .tip {
        display: block;

        i {
          margin: 0 1rem;
          width: 30px;
        }
      }
    }
  }
}

// Styling for the error popup that appears whenever there has been a read error
#error {
  visibility: hidden;
  display: flex;
  // Set width to 100% so we can easily center the container
  width: 100%;
  justify-content: center;
  // Set the position to fixed so the appearance of the popup doesn't affect the document flow
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 0.5rem 0 0.5rem;
  z-index: 3;
  bottom: 0;
  transform: translateY(300px);

  &-container {
    width: 50%;
    padding: 1rem 1rem 0 1rem;
    border-radius: 6px 6px 0 0;
    border: 2px solid ivory;
    border-bottom: 0;

    &-text {
      position: relative;
      display: flex;
      padding-bottom: 1rem;

      &-cancel {
        padding-left: 1rem;
        cursor: pointer;
      }
    }
  }
}

// Basic class that all buttons will use
.btn {
  line-height: 1rem;
  width: 100%;
  height: 100%;
  margin: 1.5rem 0;
  padding: 1.5em 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  border: 2px solid ivory;
  outline: 0;
  cursor: pointer;
}

// Media query for tablet
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #main {
    &-text {
      &-title {
        font-size: 2.2rem;
      }

      &-author {
        font-size: 2rem;
      }

      &-quote {
        font-size: 1.3rem;
      }
    }

    &-buttons {
      button {
        font-size: 1.5rem;
      }
    }
  }
}

// Media query for small tablets and large phones
// Also style tablets that are use in landscape
@media only screen and (max-width: 768px),
screen and (max-height: 768px) and (max-width:1024px) {
  #main {
    &-buttons {
      margin-top: 1rem;

      button {
        border: 1px solid $font-colour;
        font-size: 1.2rem;
        padding: 1.4rem 0.4rem;
      }

      // Remove the #help span so the user has the ability to click a button to now show the guide on how to use the site
      #helpBtn {
        display: block;
      }

      #help {
        display: none;
      }
    }

    &-text {
      &-title {
        font-size: 2rem;
      }

      &-author {
        font-size: 1.8rem;
      }

      &-quote {
        font-size: 1.2rem;
      }
    }
  }

  // Increase size of modal
  #modal {
    &-content {
      width: 100%;
      height: 100%;

      &-table {
        height: 93%
      }

      &-buttons {
        height: 7%;

        .modalButtons {
          font-size: 1rem;
        }
      }
    }
  }
}

// Media query for phones, including when a phone is used in landscape
@media only screen and (max-width: 500px),
screen and (max-height: 360) {
  #main {
    // Set a min height so that the size of the quote doesn't pull down the buttons, which would happen due to the display being flex and thus
    // how this encourages the elements to evenly spread over the page
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &-buttons {
      margin: 1rem 0;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      left: 0;

      .btn {
        padding: 0.5rem 0.5rem;
        margin: 0 0.3em;
        line-height: 1.4rem;
        width: 90px;
        font-size: 1rem;
      }
    }

    &-text {
      width: 100%;
      transform: translateX(0%);
      margin: 0;
      padding: 1rem 1rem 0 1rem;

      &-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      &-author {
        font-size: 1.3rem;
        margin-bottom: 1.1rem;
      }

      &-quote {
        font-size: 1rem;
      }
    }

    &-help {
      &-overlay {
        ul {
          width: 49%;
        }
      }
    }

  }

  #modal {
    &-content {
      padding: 0.2rem;
      border: 2px solid ivory;
      height: 95%;
      width: 100%;
      margin: 0;

      &-table {
        font-size: 0.5rem;
        height: 93%;
      }

      &-buttons {
        height: auto;
        margin-top: 1rem;

        .modalButtons {
          font-size: 0.6rem;
          margin: 0 0.6rem
        }
      }
    }
  }

  #error-container {
    width: 100%;
  }
}