header {
    font-family: 'Bad Script';
    font-size: 1.5rem;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#textDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
}

#quote {
    height: 8em;
    background-color: brown;
    height: fit-content;
}

#author {
    height: 2em;
    background-color: gold;
}

#book {
    height: 2em;
    background-color: cornflowerblue;
}

.buttonDiv {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    margin: 0em 2em;

	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-decoration: none;
}

button:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

#modalButtonDiv {
    height: 15%;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#saveButton {
    background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);

    border: 1px solid #3079ED;
    color: white;
    }
    
#saveButton:hover {
    border: 1px solid #2F5BB7;
    
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }

/* #cancelButton {
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 0.5em 2em; /* 15% from the top and centered */
    /* overflow: auto; */
    height: 80%;
    padding: 2em;
    border: 10px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    /* overflow: auto; */
  }
  
  /* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#modalText {
    color: black;
    text-decoration: none;
}

#modalElementDiv {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 90%;
}

table, th, td {
border: 1px solid black;
padding: 0.5em;
}

table {
    width: 100%; 
}

td {
    height: 1em;
    /* width: 5%; */
}

th { 
    text-align: left;
}

#checkbox {
    width: 2%;
}

#authorModal {
    width: 30%;
}

#bookModal {
    width: 68%;
}

#innerModalDiv {
display: flex;
flex-direction: row; 
justify-content: center;
align-items: flex-start;
height: 90%; 
overflow: auto;
}