@import url(//db.onlinewebfonts.com/c/695c262bacc7d6849ba6f9403d34bf56?family=GT+Sectra+Fine+Book);
@font-face {font-family: "GT Sectra Fine Book";
    src: url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.eot"); 
    src: url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.woff2") 
    format("woff2"), 
    url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.woff") 
    format("woff"), 
    url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.ttf") 
    format("truetype"), 
    url("//db.onlinewebfonts.com/t/695c262bacc7d6849ba6f9403d34bf56.svg#GT Sectra Fine Book") 
    format("svg"); }

html {
    overflow-y: scroll;
}

header {
    /* font-family: 'Bad Script'; */
    font-family: 'Libre Baskerville', serif;
    color: ivory;
    font-style: italic;
    font-size: 2vw;
    text-align: center;
}

body {
    background-color: #2b2b2b;
}

#container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#textDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
}

#buttonDivLanding {
    display: flex;
    /* position: sticky;  */
    /* top: 50%; */
    /* width: 100% auto; */
    /* transform: translate(0%, 0%); */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
} 

#absoluteButtonsDiv {
    position: fixed;
    width: 5em;
    top: 20%;
    left: 5%;
}

#buttonDivModal {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

#authorBook {
    height: 2.5em;
    color: ivory;
    background-color: #2b2b2b;
    font-family: "GT Sectra Fine Book", serif;
    /* font-size: 2.5rem; */
    font-size: 3.5vw;
    text-align: left;
}

#quote {
    width: 100%;
    color: ivory;
    background-color: #2b2b2b;
    font-family: 'Lora', serif;
    font-size: 2.5vw;
    font-style: italic;
    text-align: left;
    line-height: 1.3em;
}

#quoteGen {
    line-height: 3vw;
    width: 15vw;
    height: 10vw;
    margin: 0.25em 2em 1.5em 2em;
    font-family: 'Lora', serif;
    /* font-size: 1.5em; */
    font-size:  calc(4px + 2vw);
    font-weight: bold;
    background-color: #2b2b2b;
    color: ivory;
    border: 3px solid ivory;
    border-radius: 1em;
    /* padding: 15px; */
    

}

#bookSelect {
    line-height: 3vw;
    width: 15vw;
    height: 10vw;
    /* font-size: 4vw; */
    margin: 1.5em 2em;
    font-family: 'Lora', serif;
    /* font-size: 5vh; */
    font-size: calc(4px + 2vw);
    font-weight: bold;
    background-color: #2b2b2b;
    color: ivory;
    border: 3px solid ivory;
    border-radius: 1em;
    /* padding: 15px; */
}

@media only screen 
and (max-width: 1500px) 
and (min-width: 768px) {
    #quoteGen {
        line-height: 3vw;
        text-align: center;
        width: 15vw;
        height: 10vw;
        font-size: calc(4px + 2vw);
    }
}

@media only screen 
    and (max-width: 1500px)
    and (min-width: 768px) {
    #bookSelect {
        line-height: 3vw;
        width: 15vw;
        height: 10vw;
        font-size: calc(4px + 2vw);
    }
}

@media only screen 
    and (max-width: 768px) 
    and (min-width: 425px) {
    #quoteGen {
        line-height: 3vw;
        text-align: center;
        width: 20vw;
        height: 10vw;
        font-size: 3vw;
    }
}

@media only screen 
    and (max-width: 768px)
    and (min-width: 425px) {
    #bookSelect {
        line-height: 3vw;
        width: 20vw;
        height: 10vw;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 425px) {
    #quoteGen {
        line-height: 3vw;
        text-align: center;
        width: 20vw;
        height: 10vw;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 425px) {
    #bookSelect {
        line-height: 3vw;
        width: 20vw;
        height: 10vw;
        font-size: 3vw;
    }
}



#modalButtonDiv {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 15%;
}

.modalButtons {
    /* font-family: 'Lora', serif; */
    font-family: 'GT Sectra Fine Book', serif;
    font-size: calc(2px + 1.5vw);
    color: ivory;
    background-color: #2b2b2b;
    border: 2px solid ivory;
    border-radius: 4px;
    margin: 0em 2em;
    padding: 0.5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color:   #2b2b2b;
    margin: 0.5em 2em; /* 15% from the top and centered */
    /* overflow: auto; */
    height: 80%;
    padding: 2em;
    border: 10px solid ivory;
    width: 80%; /* Could be more or less, depending on screen size */
    /* overflow: auto; */
  }
  


#modalText {
    color: ivory;
    text-decoration: none;
}

#modalElementDiv {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 90%;
}

table, th, td { 
border: 1px solid ivory;
padding: 0.5em;
}

table {
    width: 100%; 
    color: ivory;

}

td {
    height: 1em;
     font-family: 'Lora', serif;
    font-style: italic;
}

th { 
    text-align: left;
    font-family: "GT Sectra Fine Book", serif;
    font-weight: bold;
}


#innerModalDiv {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    height: 90%; 
    overflow: auto;
}

  /* The Close Button */
/* .close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} */

/* #saveButton {
    background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);

    border: 1px solid #3079ED;
    color: white;
    }
    
#saveButton:hover {
    border: 1px solid #2F5BB7;
    
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    } */

/* #checkbox {
    width: 2%;
}

#authorModal {
    width: 30%;
}

#bookModal {
    width: 68%;
} */


/* button {
    display: inline-block;
        margin: 2em 2em;

	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-decoration: none;
}

button:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
} */